/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section-title {
    font-size: 22px;
}

.title-base-h2 {    
    font-size: 18px;
}

/*************header*************/

header {
    display: flex;
    justify-content: space-between;
}

.logo-image {       
    width: 61.9px;
    height: 19px;
    padding: 30px 0 30px 0;  
}

.menu-header ul {
    display: flex;
    padding-top: 16px;
    gap: 68px;
}

.menu-header a:hover {
    color: var(--main-color);
    border-top: solid 2px;
    padding-top: 14px;
}

/****************fin header*****************/


/***********section recherche **********/

.section-recherche {        
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
}

h1 { 
    margin-bottom: 8px;
}

                                        /*Partie formulaire de recherche*/
.form-recherche {                                                               
    display: flex;                      
}

.form-recherche label {    
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    padding: 15px 18px;
}

.form-recherche i {
    display: block;                     /*supprime les deux px sous l'icône*/
    margin: auto;
    width: 14px;   
}

.form-recherche #recherche {
    width: 195px;
    border-bottom: 1px solid var(--main-bg-color) ;
    border-top: 1px solid var(--main-bg-color);
    border-left: 0;
    border-right: 0;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.btn2 {
    display: none;
}

.btn1 {    
    background-color: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 16px;
}

                                        /*Partie filtre*/
.filtre {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 15px;
}

.filtre ul {    
    display: flex;
    font-size: 17px;    
    gap: 15px;    
}

.filtre .fa-solid {
    font-size: 22px;
}

.filtre li {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 0 19px;
    height: 50px;
    box-sizing: border-box;
}

.filtre li:hover {
    background-color: var(--filter-bg-color);
}


                                        /*Partie info*/
.info {   
    display: flex;
    align-items: center;
    gap: 10px;
}

.info div {
    display: flex;    
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid var(--filter-bg-color);
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}

.info .fa-solid {
    margin: auto;
}

/*******fin section recherche **********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: flex;   
    flex-wrap: wrap;
    gap: 30px;        
  }
  
.hebergements-cards > * {
    flex: 1 1 auto;                                                                 
  }

.hebergements-cards a {
    display: flex; 
    width: 30%;                                   
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;  
    width: 100%;
    gap: 4px;    
}

.hebergements-cards img {
    flex: 0 0 auto;
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5px;       
}

.hebergements-cards .card-content {
    flex: 1 0 auto;
    justify-content: space-between;
    padding-left: 10px;   
    padding-bottom: 10px;     
}

.hebergements-cards .card-content,
.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-subtitle {    
    font-size: 14px;
}

.hebergements-cards .card-rating {
    display: flex;
    height: 13.25px;
    align-items: center;
}

/********Fin Hebergements**********/


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********Fin Populaires***********/


/*************Activités***********/

#activity-in-marseille {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
    gap: 30px;
}

#activity-in-marseille .section-title {
    height: 30.02px;
}

.activity-card {
    display: flex;
    gap: 30px;
}

.activity-card a {
    width: 25%;
}

.activity-card .card {
    display: flex;
    flex-direction: column;
    padding: 0;    
    height: 100%;   
}

.activity-card img {
    display: block;
    flex: 0 0 auto;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-card .card-title {   
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 20px 19px;
}

/********Fin Activités********/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}